#square {
   width: 50px;
   height: 50px;
   background: blue;
   /* where on the page the object is */
   position: absolute;
   left: 50;
   top: 700;
 }

 #mini-square{
   width: 25px;
   height: 25px;
   background: black;
   position: absolute;
   left: 200;
   right: 300;
 }

 #rectangle {
    width: 100px;
    height: 25px;
    background: violet;
    /* where on the page the object is */
    position: absolute;
    left: 700;
    top: 500;
  }

  #long {
    width: 70px;
    height: 50px;
    background: pink;
    /* where on the page the object is */
    position: absolute;
    left: 100;
    top: 600;
  }



 #bright{
   background: #EA4BEA;
   color:white;
 }

 .stuff{
   background: #D353AE;
   color:white;
 }

 body{
     background-color: #E1CCE1;
 }
